RewriteEngine On

# View files
RewriteCond %{REQUEST_URI} ^/view/(.*)
RewriteRule view/(.*) directToFiles.php?path=$1 [L]

# Download files
RewriteCond %{REQUEST_URI} ^/download/(.*)
RewriteRule download/(.*) /operators/download.php?target=$1 [L]

# Explorer for getting data.
RewriteCond %{REQUEST_URI} ^/explorer/(.*)
RewriteRule explorer/(.*) explorer.php?dir=$1 [L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule (.*) $1.php [L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule (.*) $1.html [L]

# 404 Redirect
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule (.*) 404.php [L]